<!DOCTYPE html>
<html>
  <head>
  <title>Chat Box</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>-->
  <!--<script type="text/javascript" src="{{url_for('static',filename='jquery.min.js')}}"></script>-->
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <main role="main" class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
    <img class="mr-3" src="{{url_for('static',filename='img/logo.png')}}" alt="" width="48" height="60">
    <div class="lh-100">
      <h6 class="mb-0 text-white lh-100">Bartender Pub</h6>
      <small>Drinks and Food with Service</small>
    </div>
  </div>
<div id="chatPanel" class="card card-primary">
<div class="card-body" style="overflow-y: scroll;
    height: 400px;">
    <ul class="media-list">

    </ul>
</div>
<div class="card-footer">
    <form method="post" class="form-group" id="form-chat">
        <div class="input-group">
            <input type="text" id="chatmessage" name="chatmessage" class="form-control">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="btn-chat">Submit</button>
              </div>
        </div>
    </form>
</div>
</div>
  </main>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>
$(function(){
    $( "#btn-chat" ).click(function( event ) {
      event.preventDefault();
      $("#form-chat").submit();
  });
    $("#form-chat").submit(function(event){
        event.preventDefault();
        var msg =$("#chatmessage").val();
        $( ".media-list" ).append('<div class="media text-muted pt-3">\
                                          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray text-md-right">\
                  <strong class="d-block text-gray-dark">User</strong>'+msg+'</p>\
                                          <svg class="bd-placeholder-img rounded mr-right" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>\
                                         </div>');
        $(".card-body").stop().animate({ scrollTop: $(".card-body")[0].scrollHeight}, 1000);
        console.log($(this).serialize());
        $.ajax({
            type: "POST",
            url: "/chat",
            data: $(this).serialize(),
            success: function(response) {
                $('#chatmessage').val('');
                var answer = response.answer;
                const chatPanel = document.getElementById("chatPanel");
                setTimeout(function() {
                if (answer === "Session cleared") {
                    $(".media-list").html("");
                }
                else {
                    $(".media-list").append('<div class="media text-muted pt-3">\
                                              <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#ff5263"/><text x="50%" y="50%" fill="#ff5263" dy=".3em">32x32</text></svg>\
                                              <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">\
                      <strong class="d-block text-gray-dark">Geeves</strong>'+answer+'</p>\
                                             </div>');
                    }
                }, 1000);
                $(".card-body").stop().animate({ scrollTop: $(".card-body")[0].scrollHeight}, 1000);
            },
            error: function(error) {
                console.log(error);
            }
        });

    });
    
});

</script>
</html>
